.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px;
    padding-bottom: 50px;
    color: #fff;
}
.logo-footer{
    font-size: 30px;
    font-weight: 700;
}
.link-footer{
    display: flex;
    flex-direction: row;
}
.link{
    font-size: 17px;
    margin: 10px;
    font-weight: 500;
}
.link:hover{
    color: black;
    transition: all 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .container-footer{
        padding: 100px 15px;
        padding-bottom: 20px;
    }
    .link{
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .container-footer{
        padding: 100px 20px;
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 768px) and  (max-width: 992px){
    .container-footer{
        padding: 100px 30px;
        padding-bottom: 20px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .container-footer{
        padding: 100px 100px;
        padding-bottom: 20px;
    }
}