.user-form{
    background-color: #AAE3E2;
    padding: 40px;
    border-radius: 25px;
    box-shadow: #fff 7px 7px 0px;
    width: 400px;
    height: 500px;
}

@media screen and (max-width: 600px){
    .user-form{
        width: 300px;
        margin-top: 50px;
    }
}
@media screen and (min-width: 600px) and (max-width: 992px){
    .user-form{
        margin-top: 50px;
    }
}